<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
</head>
<body>
<h1>Авторизация</h1>

<form th:action="@{/bank/login}" method="post">
    <div th:if="${param.error}" class="error">
        Неверный логин или пароль
    </div>
    <label for="username">Имя пользователя:</label>
    <input type="text" id="username" name="username">

    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password">

    <button type="submit">Войти</button>
</form>

<a th:href="@{/bank/registration}">Регистрация</a>
</body>
</html>