<!DOCTYPE html>
<html lang="ru" xmlns:th="http//:thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователь</title>
</head>
<body>
<p th:text="${user.getId()}"></p>
<p th:text="${user.getFirstName()}"></p>
<p th:text="${user.getLastName()}"></p>
<div th:each="account : ${accounts}">
    <a th:href="@{/bank/{id}/account/{accountId}(id=${user.getId()}, accountId=${account.getId()})}"
       th:text="${account.getHiddenAccountNumber() + ': ' + account.getType() + ', ' + account.getBalance()}">счёт</a>
</div>

<a th:href="@{/bank/{id}/new-account(id=${user.getId()})}">Добавить счет</a>
<form method="post" >
    <input type="submit" value="Удалить этот профиль"/>
</form>
</body>
</html>