<!DOCTYPE html>
<html lang="ru" xmlns:th="http//:thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Перевод</title>
</head>
<body>

<form th:object="${transaction}" method="post">
    <div>
        <label for="toAccountNumber">Номер карты получателя:</label>
        <input type="number" id="toAccountNumber" th:field="*{toAccountNumber}" required>
    </div>
    <div>
        <label for="amount">Сумма:</label>
        <input type="number" step="0.01" id="amount" th:field="*{amount}" required>
    </div>
    <div>
        <label for="description">Описание (необязательно):</label>
        <input type="text" id="description" th:field="*{description}">
    </div>
    <button type="submit">Перевести</button>
</form>
<div style="color: red" th:if="${incorrectAmount}">
    <p>Недостаточно средств на счёте!</p>
</div>
<div style="color: red" th:if="${incorrectAccountNumber}">
    <p>Счёт получателя не найден!</p>
</div>
</body>
</html>